@use "../../Style/Theme.scss" as theme;

.home {
  @include theme.themify(theme.$themes) {
    padding: 20px 70px;
    background-color: theme.themed("bgSoft");

    @include theme.mobile {
      padding: 10px;
    }

    @include theme.tablet {
      padding: 20px;
    }
  }
}
