@use "../../Style/Theme.scss" as theme;

.groupCard{
  background-color: #a8d8a2;
  color: #1f5e47;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

  h3 {
    font-size: 18px;
    font-weight: 700;
    color: #2c7d5f;
    margin-bottom: 12px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px;
      margin-bottom: 10px;
      background-color: #d1e7a9;
      border-radius: 12px;
      transition: background 0.2s ease;

      &:hover {
        background-color: #6abf92;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

